.testimonial-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 32px 48px;
}

.testimonial header {
    display: block;
    background-color: transparent;
    position: static;
    padding: 0;
    margin-bottom: 24px;
}